#uitleg {
    padding: 10px;
    margin-left: 32px;
    margin-top: 20px;
    font-family: Avenir LT W01_85 Heavy1475544,Avenir,Arial,sans-serif;
    font-size: 12px;
}

html {
    background: linear-gradient(to right, #f5d7d7, #c5e1f3);
}

